@font-face {
    font-family: 'Lastica';
    src: url(FontsFree-Net-Lastica.ttf) format('truetype');
}
@font-face {
  font-family: 'TTInterfaces';
  src: url(TTInterfaces-Regular.ttf) format('truetype');
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Lastica, sans-serif;
    color: white;
    background-image: linear-gradient(to right, #30193b, #241661);
}

.container {
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    padding: 50px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px; 
    border: 4px solid white;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 180px; 
}

h1 {
    font-size: 32px;
    margin: 0;
}

h2 {
    font-size: 80px;
    margin: 10px 0;
}

p {
    font-size: 30px;
    margin: 10px 0;
}

.molten{
    width: 500px;
    height: auto;
    margin-left: 20px;
    z-index: 1;
}
.molten1{
    position: absolute;
    width: 250px;
    height: auto;
    margin-left: 1200px;
    margin-bottom:500px;
    transform: rotate(110deg);
    z-index: 0;
}

button {
  appearance: none;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  line-height: 1;
  padding: 1em 1.5em;
  position: relative;
  transition: filter var(--motion-duration);
}

button:hover {
  filter: brightness(1.1);
}

button:active {
  filter: brightness(0.9);
}

button > span {
  display: block;
  position: relative;
  transition: transform var(--motion-duration) var(--motion-ease);
  z-index: 1;
}

button:hover > span {
  transform: scale(1.05);
}

button:active > span {
  transform: scale(0.95);
}

button > svg {
  fill: #950cde;
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
}

button > svg > path {
  transition: var(--motion-duration) var(--motion-ease);
}

button:hover > svg > path {
  d: path("M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0");
}

button:active > svg > path {
  d: path("M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0");
}

.about{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 130px 180px; 
}

.molten2{
  position: absolute;
  width: 400px;
  height: auto;
  transform: rotate(90deg);
  z-index: 1;
}

.molten3{
  position: absolute;
  width: 350px;
  transform: rotate(-90deg);
  margin-top: 150px;
  margin-left: 200px;
  float: left;
}

.about-me-info{
  font-family: 'TTInterfaces';
  font-weight: bold;
  font-size: 45px;
  word-spacing: 5px;
  line-height: 40px;
  flex: 1;
  margin-left: 800px;
  margin-top: 200px;
}

.card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;
  gap: 40px;
}

.card1{
  background-color: black;
  height: 500px;
  width: 400px;
  border-top-left-radius:40px;
  border-top-right-radius: 40px;

}

.card2{
  background-color: black;
  height: 500px;
  width: 400px;
  border-radius: 40px;

}

.card3{
  background-color: black;
  height: 500px;
  width: 400px;
  border-radius: 40px;
}

.img1{
  position: absolute;
  object-fit: cover;
  width: 400px;
  height: 500px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.card1-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
  background: linear-gradient(to right, #75498f, #604eb1);
  border-radius: 0 0 20px 20px;
  margin-top: 500px;
  height: 365px;
}

.card1-body h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0; 
}

.card1-body p {
  font-family: 'TTInterfaces';
  text-align: center;
  font-size: 25px;
  margin: 10px 0; 
}

.btn1 {
  margin-top: 10px;
}


.card2-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
  background: linear-gradient(to right, #75498f, #604eb1);
  border-radius: 0 0 20px 20px;
  margin-top: 500px;
  height: 365px;
}

.card2-body h2 {
  text-align: center;
  font-size: 26px;
  font-weight: bolder;
  margin: 10px 0; 
}

.card2-body p {
  font-family: 'TTInterfaces';
  text-align: center;
  font-size: 25px;
  margin: 10px 0; 
}

.btn2 {
  margin-top: 10px;
}

.card3-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
  background: linear-gradient(to right, #75498f, #604eb1);
  border-radius: 0 0 20px 20px;
  margin-top: 500px;
  height: 365px;
}

.card3-body h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0; 
}

.card3-body p {
  font-family: 'TTInterfaces';
  text-align: center;
  font-size: 25px;
  margin: 10px 0; 
}

.btn3 {
  margin-top: 10px;
}

.projects {
  text-align: center;
}

.projects h1 {
  font-size: 45px;
  font-weight: bolder; 
  margin-top: 300px; 
  padding: 20px 0; 
}


.hover-image {
  transition: transform 0.5s ease; 
}


.card1:hover .hover-image {
  transform: scale(1.1);
}


.card2:hover .hover-image {
  transform: scale(1.1); 
}


.card3:hover .hover-image {
  transform: scale(1.1); 
}








